<h3 class="col-lg-12" style="margin-top:30px;">
  <%= index %>. Definições importantes
</h3>

<div class="col-lg-12">

  <div class="list-group">


    <div class="list-group-item">
      <h5 id="contas_primarias" class="list-group-item-heading">
        Contas Primárias
      </h5>

      <p class="list-group-item-text">
        
      </p>

    </div>

    <div class="list-group-item">
      <h5 id="contas_publicas" class="list-group-item-heading">
       Contas Públicas
      </h5>

      <p class="list-group-item-text">
        
      </p>

    </div>

    <div class="list-group-item">
      <h5 id="ldo" class="list-group-item-heading">
        LDO: Lei de Diretrizes Orçamentárias 
      </h5>

      <p class="list-group-item-text">
        
      </p>

    </div>

    <div class="list-group-item">
      <h5 class="list-group-item-heading">
        LOA: Lei Orçamentária Anual
      </h5>

      <p class="list-group-item-text">
        
      </p>

    </div>

    <div class="list-group-item">
      <h5 class="list-group-item-heading">
        PPA: Plano Plurianual
      </h5>

      <p class="list-group-item-text">
        
      </p>

    </div>

    <div class="list-group-item">
      <h5 class="list-group-item-heading">  
        RCL: Receita Corrente Líquida
      </h5>

      <p class="list-group-item-text">
        
      </p>

    </div>

    <div class="list-group-item">
  
      <h5 id="reserva_contingencia" class="list-group-item-heading">
        Reserva de Contingência
      </h5>
  
      <p class="list-group-item-text">
        prevista na <a href="#ldo">LDO</a> e incluída nos orçamentos anuais de cada um dos entes federados
      </p>
  
    </div>

    <div class="list-group-item">
  
      <h5 id="resultado_primario" class="list-group-item-heading">
        Resultado Primário
      </h5>
  
      <p class="list-group-item-text">
        diferença entre as receitas e despesas não financeiras.
      </p>
  
    </div>


    <div class="list-group-item">
  
      <h5 class="list-group-item-heading">
        RLR: Dívida financeira em relação à receita líquida real
      </h5>
  
      <p class="list-group-item-text">
        receita realizada nos doze meses anteriores ao mês imediatamente anterior àquele que se estiver apurando, excluídas as receitas provenientes de operações de crédito, de alienação de bens, de transferências voluntárias ou de doações recebidas com o fim específico de atender às despesas de capital e, no caso dos Estados, as transferências aos municípios por participações constitucionais e legais.
      </p>
  
    </div>



  </div>

</div>