<h3 class="col-lg-12" style="margin-top:30px;">
  <%= index %>. Objetivos
</h3>

<div class="col-lg-12">

  <div class="list-group">

    <div class="list-group-item">
  
      <h5 class="list-group-item-heading">
        estabelecer normas de finanças públicas voltadas para a responsabilidade na gestão fiscal
      </h5>
  
      <p class="list-group-item-text">
        <ul>
        
          <li>
            ação planejada e transparente
          </li>
          
          <li>
            prevenção de riscos e correção de desvios que afetem o equilíbrio das contas públicas
          </li>

          <li>
            garantia de equilíbrio nas contas, via cumprimento de metas de resultados entre receitas e despesas, com limites e condições para a renúncia de receita e a geração de despesas com pessoal, seguridade, dívida, operações de crédito, concessão de garantia e inscrição em restos a pagar
          </li>

        </ul>
      </p>
  
    </div>

    <div class="list-group-item">
  
      <h5 class="list-group-item-heading">
        trazer uma nova noção de equilíbrio para as <a href="#contas_publicas">contas públicas</a>
      </h5>
  
      <p class="list-group-item-text">
        <ul>
        
          <li>
            equilíbrio das chamadas <a href="#contas_primarias">contas primárias</a>, traduzida no 
             <a href="#resultado_primario">resultado primário</a> equilibrado
          </li>
          
          <li>
            Significa, em outras palavras, que o equilíbrio a ser buscado é o equilíbrio auto-sustentável,
            ou seja, aquele que prescinde de operações de crédito e, portanto, sem aumento da dívida
            pública
          </li>

        </ul>
      </p>
  
    </div>

    <div class="list-group-item">
  
      <h5 class="list-group-item-heading">
        reforçar o papel da atividade de planejamento
      </h5>
  
      <p class="list-group-item-text">
        <ul>
        
          <li>
            vinculação entre as atividades de planejamento e de execução do gasto público
          </li>

        </ul>
      </p>
  
    </div>

    <div class="list-group-item">
  
      <h5 class="list-group-item-heading">
        prevenir riscos e corrigir desvios por meio do planejamento
      </h5>
  
      <p class="list-group-item-text">
        <ul>
        
          <li>
            preconizar a adoção de mecanismos para neutralizar o impacto de situações contingentes, 
            como ações judiciais e outros eventos não corriqueiros.
          </li>

          <li>
            Tais eventualidades serão atendidas com os recursos
            da <a href="#reserva_contingencia">reserva de contingência</a>, a ser prevista na LDO e incluída nos orçamentos anuais de
            cada um dos entes federados. 
          </li>

          <li>
            adoção de providências com vistas à eliminação dos
            fatores que lhes tenham dado causa. Em termos práticos, se a despesa de pessoal em
            determinado período exceder os limites previstos na lei, medidas serão tomadas para que
            esse item de gasto volte a situar-se nos respectivos parâmetros, através da extinção de
            gratificações e cargos comissionados, além da demissão de servidores públicos, nos termos
            já previstos na Constituição Federal.
          </li>

        </ul>
      </p>
  
    </div>

    <div class="list-group-item">
  
      <h5 class="list-group-item-heading">
        estabelecer mecanismos de participação da sociedade e de publicidade da informação
      </h5>
  
      <p class="list-group-item-text">
        <ul>
        
          <li>
            a participação popular na discussão e elaboração dos planos e orçamentos 
            (artigo 48, parágrafo único)
          </li>

          <li>
            a disponibilidade das contas dos administradores, durante todo o exercício, para consulta
            e apreciação pelos cidadãos e instituições da sociedade
          </li>

          <li>
            a emissão de relatórios periódicos de gestão fiscal e de execução orçamentária,
            igualmente de acesso público e ampla divulgação
          </li>

        </ul>
      </p>
  
    </div>


  </div>
  
</div>
