<h3 class="col-lg-12" style="margin-top:30px;">
  <%= index %>. Observações e críticas
</h3>

<div class="col-lg-12">

  <div class="list-group">

    <div class="list-group-item">
  
      <h5 class="list-group-item-heading">
        União, Estados e DF avaliados segundo a relação 'gastos com pessoal'/RCL
      </h5>
  
      <p class="list-group-item-text">
        a avaliação do quanto saudável estão as contas da União, dos Estados e do DF por meio da relação entre gasto com pessoal e a RCL é muito frágil. No caso de queda da RCL, não há como baixar o gasto com pessoal na mesma velocidade. Principalmente se levarmos em conta que é praticamente impossível demissões no serviço público.
      </p>
  
    </div>

  </div>
  
</div>